@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


html {
	@apply bg-zinc-900 text-white/90;
	font-family: "Azeret Mono", monospace;
	font-optical-sizing: auto;
	scroll-behavior: smooth;
}

.inner-w {
	@apply max-w-[1600px] mx-auto px-4 w-full;
}
strong {
	@apply text-white font-normal;
}
.section-row:nth-child(even) {
	@apply bg-zinc-950/90;
}
.section-title::after {
	@apply content-[''] block h-[4px] w-4 bg-lime-500 transition-all duration-300 ease-in-out;
}
section:hover .section-title::after {
	@apply w-full;
}
section {
	@apply blur-sm transition-all duration-500 ease-in-out;
}
section.section--active {
	@apply blur-none;
}